{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discuzzia - Create Topic</title>
    <!-- Link to the CSS stylesheets -->
    <link rel="stylesheet" href="{% static 'create.css' %}" />
    <link rel="stylesheet" href="{% static 'forum.css' %}" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="icon" href="{% static '/img/favicon.png' %}" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Discuzzia!</h1>
            <p>The forum to discuss topics of interest and share your ideas with the world.</p>
        </header>

        {% include 'includes/nav2.html' %}


        <main>
            {% block content %}
            <div class="create-topic-container">
                <h2 class="topic-title">{% block title %}Create a New Topic{% endblock %}</h2>
                <form method="POST" class="create-topic-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="submit-button">Submit</button>
                </form>
                <a href="{% url 'forum' %}" class="back-button">Back to Forum</a>
            </div>
            {% endblock %}
        </main>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>

