<!-- Load static files for the Django template -->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the webpage -->
    <title>Login</title> 

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{% static 'login.css' %}"> 
    <link rel="icon" href="{% static '/img/favicon.png' %}" type="image/x-icon" />
</head>
<body>


    <!-- Container for the login form -->
    <div class="login-container">
        <div class="back-to-home">
            <a href="/">
              <img src="{% static 'img/home.png' %}" alt="Back to Home" class="home-icon" />
            </a>
          </div>
        <!-- Heading for the login section -->
        <h2>Login</h2>
        <!-- Start the form, specifying the POST method for form submission -->
        <form method="post">
            <!-- Include CSRF token for security against cross-site request forgery -->
            {% csrf_token %}
            <!-- Render the Django form as paragraph elements -->
            {{ form.as_p }}
            <button type="submit">Login</button> <!-- Submit button for the login form -->
            <p class="no_account_text">Don't have an account yet?<a href="{% url 'signup' %}">Sign up for free</a></p>
        </form>
    </div>


</body>
</html>

