/* Container for the signup form */
.signup-container {
    max-width: 600px; /* Maximum width for the container */
    margin: 50px auto; /* Center the container with top and bottom margin */
    padding: 20px; /* Internal padding for the container */
    background: #fff; /* White background for the profile container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow around the container */
}

/* Header styles */
h2 {
    text-align: center;
    color: #a31621; /* Dark red color */
    margin-bottom: 10px;
    font-size: 24px;
}

/* Description under heading */
p {
    text-align: center;
    color: #4e8098; /* Soft blue */
    margin-bottom: 20px;
}

/* Form field styles */
form p {
    margin-bottom: 15px; /* Space between fields */
}

/* Input field styles */
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced3dc; /* Gray border */
    border-radius: 5px; /* Soft corners */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    font-size: 16px;
    margin-bottom: 10px; /* Adds spacing below input fields */
}

/* Submit button styles */
button {
    width: 100%;
    padding: 12px;
    background-color: #4e8098; /* Soft blue background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Button hover effect */
button:hover {
    background-color: #a31621; /* Dark red on hover */
}

.helptext{
    font-size:10px;
}

li {
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    
}

/* Responsive form adjustments */
@media (max-width: 768px) {
    .signup-container {
        padding: 20px;
        margin: 20px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 15px;
    }
}

